<script src="https://aframe.io/releases/0.6.1/aframe.min.js"></script>
<script src="https://rawgit.com/donmccurdy/aframe-extras/master/dist/aframe-extras.loaders.min.js"></script>
<!--
    aframe-extras loaders is needed in order to add glTF models (And a whole lot of other model formats) into your AR Project.
    
    If your project requires multiple model types to be inluded use aframe-extras.loaders.min.js
    Get it here: https://github.com/donmccurdy/aframe-extras/tree/master/dist
    
    If your project only requires one model format to be included, use the specific library you require
    Get it here: https://github.com/donmccurdy/aframe-extras/tree/master/src/loaders
    NOTE: From aframe 0.7.0 glTF 2.0 will be directly supported and would not require any seperate loader files.
-->
<script src="https://jeromeetienne.github.io/AR.js/aframe/build/aframe-ar.js"></script>
<body style='margin : 0px; overflow: hidden;'>
  <a-scene embedded artoolkit='sourceType: webcam;'>
    <!--
      glTF 2.0 Model - busterDrone.gltf
      Using the default hiro marker (Get it below)
      https://github.com/akashkuttappa/armodels/raw/master/markers/hiro.jpg
    -->
    <a-marker preset='hiro'>
      <a-entity
      id="drone"
      position="0 0 0"
      scale="1 1 1"
      gltf-model-next="src: url(./scene.gltf);"
      animation-mixer>
      </a-entity>
    </a-marker>
    
    <a-entity camera></a-entity>
  </a-scene>
</body>